<%= content_for :title %>

<h1>Photo Share</h1>

<% @photos.each_with_index do |photo, index| %>
  <%= link_to image_tag(photo.photo.url(:thumb), class: "photo#{index}"),
              photo_path(photo) %>
  <br />
  <%= photo.caption %>
<% end %>
