<h1>Photo</h1>

<p><%= image_tag @photo.photo.url %></p>
<p><%= @photo.caption %></p>
<ul>Tags
<% @photo.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
</ul>

<% if current_user.id == @photo.user.id %>
  <p><%= link_to "Delete Photo", photo_path(@photo), method: "delete" %></p>
<% end %>

